<section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="container d-flex align-items-center flex-column">
                        <p class="lead">I am a very passionate and dedicated developer with a strong foundation in both front-end and back-end technologies. I have worked on a wide range of projects, demonstrating expertise in languages such as JavaScript, Python, and Java, and frameworks like React, Node and COBOL. My problem-solving skills and attention to detail have enabled me to deliver efficient and user-friendly applications, while my collaborative nature has allowed me to thrive in team environments. I am very committed to staying up-to-date with the latest industry trends and technologies, ensuring that my work is always at the forefront of innovation. I also want to never stop learning.</p>
                        </div>
                </div>
            </div>
        </section>